@import url('https://fonts.googleapis.com/css?family=Raleway');
.text-center{
    text-align: center;
}
.form{
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
.text-right{
    text-align: right;
    font-weight: 700;
}
.time{
    color: rgb(25, 160, 126);
}
body{
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-blue{
    color: rgb(199, 58, 93);
}